<div class="header_container" id="ancre1">
  <div class="navbar_container">
    <h1>Dead Space</h1>
    <ul>
        <a href="#"><li><img src="./../../assets/icon/twitter.svg" alt="twitter"/></li></a>
        <a href="#"><li><img src="./../../assets/icon/facebook-f.svg" alt="facebook"></li></a>
        <a href="#"><li><img src="./../../assets/icon//instagram.svg" alt="instagram"></li></a>
        <a href="#"><li><img src="./../../assets/icon/github.svg" alt="github"></li></a>
        <a href="#"><li><img src="./../../assets/icon/book-solid.svg" alt="documentation"> Documentation</li></a>
    </ul>
  </div>

  <div class="header_content">
    <h2>DEAD SPACE</h2>

  </div>

  <div class="cloud">
    <img src="../../assets/img/asteroid.png" alt="asteroid décorative">
    <img src="../../assets/img/asteroid.png" alt="asteroid décorative">
    <img src="../../assets/img/asteroid.png" alt="asteroid décorative">
  </div>
</div>
