<div class="resume_container" id="ancre2">

  <div class="resume_content">
    <div class="resume_presentation">
      <h2>Survivre</h2>
      <p>En ce début du xxvie siècle, les ressources naturelles de la Terre sont pratiquement arrivées à épuisement et l'espèce humaine est partie à la conquête de l'espace pour trouver de nouveaux moyens de subvenir à ses besoins en matières premières. Pour ce faire, des vaisseaux spatiaux d'un genre nouveau, les brise-surface, sont conçus pour arpenter l'espace à la recherche d'exoplanètes exploitables.<br>
      <br>
      À la suite de la réception d'un message de détresse suivi d'une rupture totale des communications avec l'un de ses vaisseaux de type « brise-surface », l'USG Ishimura, qui opérait en orbite autour de la planète Aegis VII, la Concordance Extraction Corporation ou CEC envoie une petite équipe de maintenance à bord de l'USG Kellion pour enquêter sur les raisons de l'avarie et y remédier. Cette équipe se compose de cinq membres d'équipage : le capitaine Zach Hammond secondé de ses deux caporaux, Chen et Johnson, ainsi que deux ingénieurs, Kendra Daniels et Isaac Clarke.<br>
      <br>
      Isaac  et son équipe ne tardent pas à découvrir que ce vaisseau est vide de toute présence humaine et que l'équipage a été infecté par un mystérieux virus, qui a la capacité de réanimer le corps des morts en les transformant en monstres, les nécromorphes. Se retrouvant isolé des autres membres de l'équipe, Clarke va devoir se débrouiller pour survivre et trouver une solution pour fuir l'Ishimura.
      </p>
    </div>
  </div>

  <div class="cloud_animation">
    <img src="../../assets/img/clouds.png" alt="cloud animation">
    <img src="../../assets/img/clouds.png" alt="cloud animation">
  </div>
</div>
