<div class="bestiaire_container" id="ancre3">

  <div class="bestiaire_content">
    <div class="bestiaire_menu">
      <button (click)="showTest('isaac')"><div class="button_content effect01">Isaac Clarke</div></button>
      <button (click)="showTest('necro')"><div class="button_content effect01">Nécromorphe</div></button>
      <button (click)="showTest('monolithe')"><div class="button_content effect01">Monolithe</div></button>
      <button (click)="showTest('usg')"><div class="button_content effect01">USG Ishimura</div></button>
    </div>

    <div class="bestiaire_display">
      <div #isaacDesc class="isaac_container">
        <div class="bestiaire_maincontent">
            <div class="bestiaire_left">
              <h3>Isaac Clarke</h3>
                <br>
              <p>Isaac est un homme dans le début de la quarantaine, en pleine force et possession de ses moyens. Il est assez grand et massif et muni d'une bonne carrure. Il est puissant physiquement et très intelligent, ce qui lui permet de toujours trouver une solution à ses multiples, car Isaac est aussi un homme malchanceux à qui de grands malheurs arrivent au cours de la saga.</p>
            </div>

            <div class="bestiaire_right">
              <img src="../../assets/img/bestiaires/isaac.png" alt="Fan art d'Isaac Clark de la série à succès Dead Space."/>
            </div>
        </div>
      </div>

      <div #necroDesc class="necro_container hidden">
        <div class="bestiaire_maincontent">
          <div class="bestiaire_left">
            <h3>Necromorphe</h3>
              <br>
            <p>Les Nécromorphes sont des cadavres réanimés fortement modifiés par un virus recombinant extraterrestre. Ces créatures sont extrêmement agressives, et vont attaquer n'importe quel organisme non-infecté qu'elles croisent. L'unique but de la plupart des Nécromorphes est simplement de répandre l'infection, en créant d'autres cadavres à infecter pour que les Contaminateurs puissent les transformer.</p>
          </div>

          <div class="bestiaire_right">
            <img src="../../assets/img/bestiaires/necro.png" alt="Fan art d'Isaac Clark de la série à succès Dead Space."/>
          </div>
      </div>
      </div>

      <div #monoDesc class="mono_container hidden">
        <div class="bestiaire_maincontent">
          <div class="bestiaire_left">
            <h3>Monolithe</h3>
              <br>
            <p>Les Monolithes Rouges sont similaires au Monolithe original, en forme de double hélice, toutes deux convergentes en un même point au sommet. La différence majeure entre l'original et la copie est la couleur. Chez les Humains, la couleur rouge provient du Bismuth, un métal utilisé par l'humanité pour remplacer les éléments manquants ou inconnus présents sur le Monolithe Noir. Ce trait particulier n'est pas universel, certaines espèces peuvent ou non utiliser le bismuth comme matériau de remplacement.</p>
          </div>

          <div class="bestiaire_right">
            <img src="../../assets/img/bestiaires/Monolithe.png" alt="Fan art d'Isaac Clark de la série à succès Dead Space."/>
          </div>
      </div>
      </div>

      <div #usgDesc class="usg_container hidden">
        <div class="bestiaire_maincontent">
          <div class="bestiaire_left">
            <h3>USG-ISHIMURA</h3>
              <br>
            <p>L'USG (United Spacefaring Guild id est Guilde Unie Spatiale) Ishimura est un vaisseau interstellaire de classe RCC (Ressource Collector Class id est Collecteur de ressources) familièrement nommée Brise Surface, capable de voyager dans l'espace au delà des limites du système solaire, sa fonction principale est de ramener des ressources naturelles pour que l'homme puisse les exploiter via le système d'extraction planétaire. Il est affilié à la Concordance Extraction Corporation.

              Il est le premier vaisseau d'une longue série dans cette catégorie. Un millier de personnes sont à son bord lors de la Mission de forage d'Aegis VII.</p>
          </div>

          <div class="bestiaire_right">
            <img src="../../assets/img/bestiaires/usg.png" alt="Fan art d'Isaac Clark de la série à succès Dead Space."/>
          </div>
      </div>
      </div>

    </div>
  </div>

</div>
